body {
    margin-left: 320px;
    /* display: flex;
    justify-content: center;
    overflow: hidden; */
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    padding: 2%;  
    color: white;
    font-size: 40px;
    text-align: center;
}

#iframe-book {
    width: 100%;
    height: 100%;
    border: none;
}

.main-text {
    font-size: 30px;
    padding:0%;
    height: 700px;
    text-align: left;
}

.button {
    /* background-color: #3a00e9; */
    /* background-image: linear-gradient(160deg, #1a005b 0%, #21b0c6 100%);
    margin: 5% ;  
    color: rgb(255, 255, 255);
    font-size: 80px ;
    text-align: center;
    border-radius: 2em !important;
    height: 4em !important ;
    width: 12em !important; */
}

.custom-btn {
    /* width: 130px;
    height: 40px; */
    height: 4em !important ;
    width: 12em !important; */
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }

.btn-3 {
    background: rgb(0,172,238);
  background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    
  }
  .btn-3 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
