body {
    margin-left: 15%;
    /* display: flex; */
    /* justify-content: center; */
    /* overflow: hidden; */
    font-family: 'Roboto', sans-serif;
    
}

.header {
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    padding: 2%;  
    color: white;
    font-size: 40px;
    text-align: center;
}

.main-text {
    font-size: 30px;
    padding:5%;
    text-align: left;
}

.button {
    background-color: #3a00e9;
    background-image: linear-gradient(160deg, #1a005b 0%, #21b0c6 100%);
    padding: 10%;  
    color: rgb(255, 255, 255);
    font-size: 40px;
    text-align: center;
}